.box-main-senha{
    display: flex;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75%;
    background-color: white;
}

.logo{
    width: 150px;
}

.box-image{
    display: flex;
    justify-content: center;
}

.imagem-senha{
    width: 55%;
    background-image: url('./foto-recpsenha.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-box{
    background-color: rgba(255, 255, 255);
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title1{
    font-family: 'Inter', sans-serif;   
    font-weight: 800;
    font-style: italic;
    color: #061E2A;
    font-size: 35px;
    padding-left: 30px;
}
  
.title2{
   font-weight: 400;
   color: #202020 ;
   font-size: 16px;
   padding-left: 30px;
   padding-right: 30px;
}

.singin-text-senha{
    font-weight: 600;
    color: #061E2A;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Inter', sans-serif; 
    margin-bottom: 30px;
}
  

.dados-box-senha{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #004B70;
}
  
.input{
    border: none;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    margin-right: 30px;
    outline: 0;
}

.icone{
    margin-left: 10px
}

.top{
    margin-top: 20px
}


.opcoes-em-linha{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between
}
  
.conectado-box{
    display: flex;
    align-items: center;
}
  
.conectado{
    margin-right: 10px
}

  
.text-options{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:  #004B70;
}

.senha{
    text-align: right;
}
  
a{
    text-decoration: none;
}
  
.acessar-senha{
    width: 40%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: none;
    background-color: #061E2A;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 35px;
    cursor: pointer;
}

.box-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.criar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   
}
  
  span{
    color: #004B70;
    font-weight: 600;
  }

  @media (max-width: 1000px){
    .login-box{
        width: 100%;
    }

    .imagem-senha{
        display: none;
    }

    .box-main-senha{
        width: 60%;
       
    }

  }