.box-barra{
    background-color: #3484AC;
    width: 7%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;

}

.logo-icone{
    width: 70%;
    margin-top: 50px
}

.funcionalidades{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 25vh;
}

.opcoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 15vh;
    margin-bottom: 50px
}

.func{
    cursor: pointer;

}