.login-medico-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    height: 75%;
    background-color: white;
    border-radius: 40px
}

.logo{
    width: 150px;
}

.box-image{
    display: flex;
    justify-content: center;
}

.imagem-login{
    width: 55%;
    background-image: url('./foto-cliente.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.singin-text{
    font-weight: 600;
    color: #061E2A;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Inter', sans-serif; 
}
  

.dados-box{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    border: 2px solid #004B70;
}
  
.input{
    border: none;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    margin-right: 30px;
    outline: 0;
}

.icone{
    margin-left: 10px
}

.top{
    margin-top: 20px
}


.opcoes-em-linha{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between
}
  
.conectado-box{
    display: flex;
    align-items: center;
}
  
.conectado{
    margin-right: 10px
}

  
.text-options{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:  #004B70;
    margin-top: 15px
}

.senha{
    text-align: right;
}
  
a{
    text-decoration: none;
}
  
.acessar{
    width: 30%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: none;
    background-color: #061E2A;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 25px;
    cursor: pointer;
}

.box-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.criar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   
}
  
span{
    color: #004B70;
    font-weight: 600;
}

.link-acessar{
    color: white;
}

@media (max-width: 1100px){
    .login-medico-box{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;

    }
  }

